---
---

<div class="w-full my-40 block text-white text-center">
    <h1 class="text-4xl m-10 hover:text-cyan-400 capitalize">
        How do I contact me?
    </h1>

    <h2 class="text-lg text-[#A9A9A9] mb-10">
        To contact me you can send me an email to <span
            class="text-white hover:text-cyan-400 hover:text-bold"
            ><u>ggvillavicencio11@gmail.com</u></span
        >
    </h2>
</div>
