<footer class="mb-10 w-full overflow-hidden">
    <div>
        <a href="/" target={"_blank"}
            ><small
                class="block mx-auto text-center text-[#61d7dc] hover:scale-105"
                >Created by Gonzalo Gabriel Villavicencio</small
            ></a
        >
    </div>
</footer>
