---
import "@fontsource/audiowide";
---

<div
    class="p-5 md:p-10 transform text-white drop-shadow-[0_35px_35px_rgba(250,247,246,0.25)] leading-5"
>
    <h1 class="font-audiowide text-4xl md:text-6xl leading-snug">
        Gonzalo Gabriel Villavicencio
    </h1>
    <h1
        class="text-4xl md:text-6xl text-[#f53b57] animate-pulse duration-500 uppercase leading-normal"
    >
        I am a Web Developer
    </h1>
</div>

<style>
    @media (min-width: 768px) {
        h1 {
            font-size: 6xl;
        }
    }
</style>
