---
import "@fontsource/audiowide";
---

<div
  class="p-5 md:p-10 transform text-white drop-shadow-[0_35px_35px_rgba(250,247,246,0.25)] leading-5"
>
  <h1 class="font-audiowide text-2xl md:text-6xl leading-snug">
    <span class="text-[#f53b57] font-medium">&lt;/</span>Gonzalo Gabriel
    Villavicencio<span class="text-[#f53b57] font-medium">&gt;</span>
  </h1>
  <h1
    class="text-2xl md:text-6xl font-medium text-[#f53b57] animate-pulse duration-500 leading-normal"
  >
    I am Web Developer
  </h1>
</div>

<style>
  @media (min-width: 768px) {
    h1 {
      font-size: 4xl;
    }
  }
</style>
