---
import ProjectCard from "./ProjectCard.astro";
import projects from "../mocks/projects.json";

const PROJECTS = Object.values(projects).map((item) => item);
console.log(PROJECTS);
---

<div class="px-4 md:px-20 container w-full my-8 md:my-20">
  <div class="mb-10">
    <h1 class="inline-block p-2.5 pb-5 text-white text-3xl md:text-4xl">
      Mis Proyectos.
    </h1>
    <div
      class="inline-block border-b-2 w-1/2 my-1 mx-5 border-[#A9A9A9] opacity-50"
    >
    </div>
  </div>
  <div class="grid grid-rows-1 md:grid-cols-4 gap-5 md:gap-1">
    {
      PROJECTS.map((item) => (
        <ProjectCard
          title={item.name}
          description={item.description}
          technologies={item.technologies}
          url={item.url}
        />
      ))
    }
  </div>
</div>
