@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes neon {
    0% {
      color: #f5c53c;
    }
    10% {
        color: #f5c53c;   
    }
    30% {
        color: #46b7ca;   
    }   
    40% {
        color: #f1daf4;    
    }
    50% {
      color: #ca2898;  
    }
    70% {
        color: #c72897;    
    }
    100% {
      color: #e32263;  
    }
  }

.text-neon {
    animation: neon 7s infinite;
  }


@keyframes loader {
  0% {
    transform: translate(10px, 10px) rotate(0deg);
    color: #f5c53c;
  }
  
  25% {
    transform: translate(20px, 10px) rotate(120deg);
    color: #46b7ca;   
    
  }   
  
  50% {
    transform: translate(15px, 10px) rotate(360deg);
    color: #ca2898;  
  }
  
  90% {
    transform:rotate(360deg);
    color: #e32263;   
    transform: scale(150%); 
  }

  100% {
    color: white;
    transform: scale(0%); 
  }
  
}

.text-loader {
  color: white; 
  transform: scale(0%); 
  animation: loader 4s;
}
  